.input{
    color: var(--text-color);
    padding-top: 0.1rem;
    margin-top: 1.5rem;
}

.input:hover{
    color: rgb(28, 163, 68);
}

.input::placeholder{
    color: rgb(7, 131, 73);
}

.input:focus{
    border-color: rgb(16, 179, 30);
}