/* styles.module.css */
.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(241, 239, 239, 0.1);
    background-image: url('../../Assets/portalgif.gif');
    background-size: cover;
    background-position: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .description {
    font-size: 16px;
    color: #ffffff;
  }
  